<div id="registration" class="tab-pane fade">
    <b>Registration Email:</b> {{{ansi-format text=char.custom.registration}}}
    <b>Associated Alts:</b> {{{ansi-format text=char.custom.alts}}}
 </div>
