<div id="registration" class="tab-pane fade">
    <b>Registration Email:</b> {{{ansi-format text=this.char.custom.alttracker_register}}}
    <b>Associated Alts:</b> {{{ansi-format text=this.char.custom.alttracker_alts}}}
 </div>
