<div class="jumbotron">

  <AnsiFormat @text={{this.model.game.website_welcome}} />

<hr>

  <div class="splash">

    <p>Emblem of Ea is an epic fantasy MUSH set in the original world of Ea, and has existed in various incarnations since 2002. We are now converting to the AresMUSH codebase and to the Pathfinder Second Edition gaming system, and are updating and deepening our theme to expand player options and allow for deeper storytelling and more long-term plots. </p>

    <p>What's a MUSH? A MUSH is a text-based storytelling medium that incorporates elements of writing, improvisonational acting, and world-building, allowing players to jointly write stories with other players from across the world in an activity called roleplaying, or RP. If you've never done anything like this before, check out our [[[help:new-players|MUSHing 101 tutorial]]].</p>

    <p>You can play via the <b>Web Portal</b>, which lets you interact with the game from a web browser. While we currently require that character generation be done via a MUSH client, you can browse the game's <LinkTo @route="wiki">wiki</LinkTo>, read <LinkTo @route="scenes">scene logs</LinkTo> and more from here, and once you are approved, you can <LinkTo @route="scenes-live">join scenes</LinkTo> as well.</p>

    <p>If you prefer to play via a MUSH client, you can point your favorite <a href="https://aresmush.com/clients/" target="_blank" rel="nofollow noopener">MU client</a> at <b>{{model.game.host}} port {{model.game.port}}</b>, or connect to the game with the <LinkTo @route="client">web client</LinkTo>.</p>
  
  </div>

</div>

{{outlet}}
