{{page-title 'Feats'}}
<h1>Feats</h1>

Pathfinder 2e has three types of feats: <b>General</b> feats, <b>Skill</b> feats, and <b>Class</b> feats.

<h2>General Feats</h2>

<table class="table table-striped">

<thead>
    <th>Feat</th>
    <th>Description</th>
</thead>
general
<tbody>
{{#each this.model.general as |feat|}}
<tr>
    <td><LinkTo @route="pf2-feats" @models={{array 'general' feat.key}}></LinkTo></td> 
    <td>{{feat.shortdesc}}</td>
</tr>
{{/each}}
</tbody>
</table>
