{{page-title 'Feats'}}
<h1>Feats</h1>

Pathfinder 2e has three types of feats: <b>General</b> feats, <b>Skill</b> feats, and <b>Class</b> feats.

<h2>All Feats</h2>

<table class="table table-striped">

<thead>
    <th>Feat</th>
    <th>Description</th>
</thead>

<tbody>
{{#each this.model.pf2e_feats_all as |feat|}}
<tr>
    <td><LinkTo @route="pf2-feats" @models={{array feat.key}}>{{feat.name}}</LinkTo></td> 
    <td>{{feat.shortdesc}}</td>
</tr>
{{/each}}
</tbody>
</table>

